<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Tracker</title>
</head>
<body>
    <h1>User: {{ email }}</h1>
    <a href="/signup">Sign up</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <a href="/add_task">Add task</a>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% for task in tasks %}
        <h2>Name: {{ task.name }}</h2>
        <p>Description: {{ task.description }}</p>
    {% endfor %}
</body>
</html>
