<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Tracker</title>
</head>
<body>
    <h1>Tasks List</h1>
    <a href="/add_task">Add task</a>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.name }}</strong><br>
                Starting Date: {{ task.starting_date }}<br>
                Ending Date: {{ task.ending_date }}<br>
                Status: {{ 'Completed' if task.is_complete else 'In progress' }}<br>
                Description: {{ task.description }}
                <form method="POST" action="/">
                    <input type="submit" value="Edit">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/tasks_json">View Tasks in JSON format</a>

</body>
</html>
