<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Tracker</title>
</head>
<body>
    <h1>User: {{ email }}</h1>
    <a href="/logout">Logout</a><br><br>

    <form action="#" method="POST">
        <label for="input_task_name">Task name:</label><br>
        <input type="text" name="input_task_name"
           value="{% if edit_mode %}{{ request.form.get('input_task_name')}}{% else %}{{""}}{% endif %}"
           {% if edit_mode %}readonly{% else %}required{% endif %}><br>

    <label for="input_ending_date">Ending date:</label><br>
    <input type="date" name="input_ending_date"
           value="{% if edit_mode %}{{ request.form.get('input_ending_date') }}{% else %}{{""}}{% endif %}"
           {% if edit_mode %}readonly{% else %}required{% endif %}><br>

    <label for="description">Description:</label><br>
    <textarea name="input_description" {% if edit_mode %}readonly{% endif %}>{% if edit_mode %}{{ request.form.get('input_description') }}{% else %}{{""}}{% endif %}</textarea><br><br>

        {% if not edit_mode %}
        <input type="submit" name="add_task" value="Add task">
        {% endif %}
        <input type="submit" name="edit_mode" value={% if not edit_mode %}"Edit mode"{% else %}"Stop editing"{% endif %}>

    </form>
    <form action="#" method="POST">
        <input type="submit" name="show_completed" value="{% if show_completed %}Hide completed tasks{% else %}Show completed tasks{% endif %}">
    </form>
    {% for task in tasks %}
        {% if show_completed or not task.is_task_complete %}
            <h2>{{ task.name }}</h2>
            <p>Description: {{ task.description }}</p>
            <p>Ending date: {{ task.ending_date.strftime('%Y-%m-%d') if task.ending_date else 'N/A' }}</p>

            <p>Status: {% if task.is_task_complete %} Completed {% else %} In progress {% endif %}</p>
            <form action="#" method="POST">
                <input type="hidden" name="task_id" value="{{ task._id }}">
                <input type="submit" name="action" value="Delete task" {% if edit_mode %}hidden{% endif %}>
                <input type="submit" name="action" value="Change status" {% if edit_mode %}hidden{% endif %}>
                <input type="submit" name="action" value="Edit task" {% if not edit_mode %}hidden{% endif %}>
            </form>
        {% endif %}
    {% endfor %}

</body>
</html>
